EP.AppAdminNG/Source/AppAdminNG/node_modules/
EP.AppClientNG/Source/AppClientNG/node_modules/
EP.AppUserNG/Source/AppUserN/node_modules/

EP.DomainLayer/bin/
EP.DomainLayer/obj/

EP.FileServer/bin/
EP.FileServer/obj/
EP.FileServer/wwwroot/Files/

EP.DataLayer/bin/
EP.DataLayer/obj/

EP.Infrastructure/bin/
EP.Infrastructure/obj/

EP.ServiceLayer/bin/
EP.ServiceLayer/obj/

EP.Scheduler/bin/
EP.Scheduler/obj/

EP.WebApiAdmin/bin/
EP.WebApiAdmin/obj/

EP.WebApiUser/bin/
EP.WebApiUser/obj/

.vs/