SP.DomainLayer/bin/
SP.DomainLayer/obj/

SP.FileServer/bin/
SP.FileServer/obj/
SP.FileServer/wwwroot/Files/

SP.DataLayer/bin/
SP.DataLayer/obj/

SP.Infrastructure/bin/
SP.Infrastructure/obj/

SP.ServiceLayer/bin/
SP.ServiceLayer/obj/

SP.Scheduler/bin/
SP.Scheduler/obj/

SP.WebApiAdmin/bin/
SP.WebApiAdmin/obj/

SP.WebApiUser/bin/
SP.WebApiUser/obj/

.vs/