ESkimo.DomainLayer/bin/
ESkimo.DomainLayer/obj/

ESkimo.FileServer/bin/
ESkimo.FileServer/obj/
ESkimo.FileServer/wwwroot/Files/

ESkimo.DataLayer/bin/
ESkimo.DataLayer/obj/

ESkimo.Infrastructure/bin/
ESkimo.Infrastructure/obj/

ESkimo.Scheduler/bin/
ESkimo.Scheduler/obj/

ESkimo.ServiceLayer/bin/
ESkimo.ServiceLayer/obj/

ESkimo.WebApiMember/bin/
ESkimo.WebApiMember/obj/

ESkimo.WebApiUser/bin/
ESkimo.WebApiUser/obj/
.vs/